name: Reusable Kind Deployment

on:
  workflow_call:
    inputs:
      environment:
        required: true
        description: 'Environment to deploy to'
        type: string
      version:
        required: true
        type: string
        # Версія образу, яка передається з github.sha
      helm-values-path:
        type: string
        # Оновлено дефолтний шлях, щоб він відповідав структурі завантажених артефактів
        default: 'todoapp/values.yaml'
      helm-release-name:
        default: todoapp
        type: string
    secrets:
      # Ці секрети потрібні для docker pull
      DOCKERHUB_USERNAME:
        required: true
      DOCKERHUB_TOKEN:
        required: true

jobs:
    deploy-helm:
      # Змінено назву job для ясності
      name: Deploy to ${{ inputs.environment }}
      runs-on: ubuntu-latest
      environment: ${{ inputs.environment }}
      env:
        DockerImageName: todoapp

      steps:
      # Завантажуємо усі необхідні артефакти
      - uses: actions/download-artifact@v4
        with:
          name: helm-package
          path: .

      - uses: actions/download-artifact@v4
        with:
          name: helm-artifacts
          path: .

      - uses: actions/download-artifact@v4
        with:
          name: kind-cluster
          path: .

      # КРОК 1: Логін, щоб мати можливість витягнути образ
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set Up Helm
        uses: azure/setup-helm@v4.2.0

      - name: Set up Kubectl
        uses: azure/setup-kubectl@v4

      - name: Create k8s Kind Cluster
        uses: helm/kind-action@v1
        with:
          config: ./cluster.yml

      # КРОК 2: Завантаження щойно зібраного образу в Kind кластер
      - name: Load Docker Image into Kind
        run: |
          IMAGE_TAG=${{ secrets.DOCKERHUB_USERNAME }}/${{ env.DockerImageName }}:${{ inputs.version }}
          docker pull $IMAGE_TAG
          kind load docker-image $IMAGE_TAG

      # КРОК 3: Dry Run Helm
      # ВИДАЛЕНО: всі секрети (MYSQL_*, APP_*)
      - name: Dry Run Helm
        run: |
          helm install --dry-run ${{ inputs.helm-release-name }} ./todoapp-*.tgz  \
          -f ${{ inputs.helm-values-path }} \
          --set todoapp.image.repository=${{ secrets.DOCKERHUB_USERNAME }}/${{ env.DockerImageName }} \
          --set todoapp.image.tag=${{ inputs.version }}

      # КРОК 4: Deploy helm
      # ВИДАЛЕНО: всі секрети (MYSQL_*, APP_*)
      - name: Deploy helm
        run: |
          helm upgrade --install --wait --timeout 180s --debug ${{ inputs.helm-release-name }} ./todoapp-*.tgz \
          -f ${{ inputs.helm-values-path }} \
          --set todoapp.image.repository=${{ secrets.DOCKERHUB_USERNAME }}/${{ env.DockerImageName }} \
          --set todoapp.image.tag=${{ inputs.version }}

      - name: Verify Deployment
        run: kubectl get pods -n ${{ inputs.environment }} # Додано -n ${{ inputs.environment }} для кращої перевірки